/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-weight: 300 !important;
  overflow-x: hidden !important;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  font-family: sans-serif, Arial, Helvetica;
  min-width: 350px;
  background: #293949;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}
a {
  cursor: pointer !important;
  color: darkorange;
  text-decoration: none;
  font-weight: 600;
}
.bg-img {
  background-image: url(assets/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #293949;
  height: 100%;
}
header{
    min-height: 69px;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar * {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5) !important;
}
@import "~typeface-source-sans-pro/index.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

